:root {
  font-family: 'Montserrat', 'Avenir Next', 'Century Gothic', Futura, 'Trebuchet MS', 'Segoe UI', sans-serif;
  line-height: 1.4;
  font-weight: 500;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
